*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.content-container{
    padding: 30px 30px 30px 30px;
    line-height: 1.0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
h1{
    font-family: "Fraunces";
    font-weight: 700;
    color:  hsl(212, 21%, 14%);
}
p{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}
h2{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 13px;
    color:hsl(228, 12%, 48%);
    letter-spacing: 4px;
}
.price h1{
    color: hsl(158, 36%, 37%);
}
.price p{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    border: none;
}
.text{
    line-height: 1.5;
}
button img{
    width: 15px;
    margin-right: 10px;
    height: 15px;
    border-radius: 0;
}
button p{
    display: inline;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
}
h2, h1, .text, .price{
    margin-bottom: 25px;
}
.price h1{
    margin-bottom: 0;
}
button:hover{
    background-color: hsl(158, 42%, 18%);
    cursor: pointer;
}
@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
        margin: 30px;
        height: auto;
    }
    body{
        margin-top: 160px;
        margin-bottom: 200px;
    }
    img{
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }    

}